.section1_tile{
    background: $color4;
    // @include usualSpaces(4rem,2rem,0rem,0rem);
    padding-top: 1rem;
    // height: 20rem;
    // width: 30rem;
    border-radius: .6rem;
    max-width: 40rem;
    transition: .2s;
}
.section1_tile:hover{
    transform: scale(0.98);
}
.section1_tile-categoryText{
    margin-bottom: 8rem;
}
.section1_tile-bottomSection{
    background: $color3;
    padding: 1rem;
    border-radius: 0rem 0rem .6rem .6rem;
    display: flex;
    align-items: center;
}
.section1_tile-professorPhotos{
    display: flex;
}
.section1_tile-professorPhotos > li > img{
    width: 4rem !important;
    margin-right: -4rem;
}
.section1_tile-professorsAmountText{
    margin: 0rem 1rem;
    margin-left: 5rem;
}