// -------- main colors
$color1 : #1E2631;
$color2 : #F99746;
$color3 : #368093;
$color4 : #C9CCCC;
$white : #FFFFFF;
$color5 : #dadada;

// -------- main fonts
@import url('https://fonts.cdnfonts.com/css/amazon-ember');

// -------- redundant rules
@mixin usualSpaces($marginY, $marginX, $paddingY, $paddingX){
    margin: $marginY $marginX;
    padding: $paddingY $paddingX;
    border-radius: .6rem;
}

// -------- main rules
*{
    transition: .15s;
}
body{
    font-family: 'Amazon Ember';
    margin: 0;
    background: $color1;
    font-size: 1.2rem;
    transition: .1s;
}
a{
    text-decoration: none;
    color: $white;
}
img{
    max-width: 10rem;
    border-radius: 15rem;
}
ul{
    list-style-type: none;
    padding-inline-start: 0;
}
li{
    margin: 1rem;
    list-style: none;
}

.divider{
    height: .15rem;
    background: $color4;
    width: 100%;
    align-self: center;
    @include usualSpaces(1rem,0rem,0rem,0rem);
    border-radius: .5rem;
}