.section2_tile{
    display: flex;
    // flex-direction: column;
    background: $white;
    border: .2rem solid $color4;
    @include usualSpaces(2rem,3rem,3rem,3rem);
    height: 36rem;
    width: 20rem;
    transition: .2s;
    box-shadow: 0rem 0rem 2rem 0rem $color5;
    position: relative;
    z-index: 0;
    transition: ease-in-out .2s;
}

.section2_tile-button,
.section2_tile li {
    z-index: 0;
}

.section2_tile-content{
    display: flex;
    flex-direction: column;
}

.section2_tile-topSection{
    position: relative;
}

.section2_tile-middleSection{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1rem;
    position: relative;
    place-content: space-between;
    min-height: 11rem;
}
.section2_tile-middleSection-text{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.section2_tile-img{
    width: 6.5rem;
    margin-top: -1rem;
    margin-right: -1rem;
    // position: absolute;
    // top: -3rem;
    border-radius: 5rem;
}

.section2_tile-moreInfos{
    content: url('#{$assetsPath}icons/info_empty.svg');
    // border: .1rem solid $color1;
    // position: absolute;
    padding: .5rem;
    // border-radius: 2rem;
    // font-size: .7rem;
    // top: 3rem;
    // right: 7rem;
    cursor: pointer;
    transition: ease-in-out .1s;
    width: 1.4rem;
    margin-left: -1.5rem;
}
.section2_tile-moreInfos:hover{
    content: url('#{$assetsPath}icons/info_filled.svg');
}
.section2_tile-moreInfos:active{
    transform: scale(.8);
}

.section2_tile-moreInfos-popup{
    position: absolute;
    padding: 1.2rem;
    background: white;
    border: .18rem solid $color4;
    box-shadow: 0rem 0rem 2rem 0rem $color4;
    border-radius: .7rem;
    width: 20rem;
    // max-width: 90%;
    // max-height: 100%;
    z-index: 1;
    bottom: -23rem;
    left: -1.75rem;
    transition: .15s;
    display: flex;
    flex-direction: column;
    line-height: 1.9rem;
}
// .section2_tile-moreInfos-popup:hover{
//     transform: scale(0.99);
//     transition: .2s;
// }

.closePopupButton{
    align-self: flex-end;
    content: url('#{$assetsPath}icons/cross.svg');
    transition: ease-in-out .15s;
    width: 1rem;
    // margin-bottom: .5rem;
    cursor: pointer;
    padding: .2rem;
}
.closePopupButton:hover{
    transform: rotate(45deg);
}

.section2_tile-category{
    background: $color4;
    @include usualSpaces(-3rem,-3rem,.6rem,3rem);
    border-radius: .6rem 0rem 1rem 0rem;
    position: absolute;
    transform: translate(-.1rem,-.1rem);
}

.section2_tile-jobTitle{
    color: $color2;
    margin-top: 0;
    font-weight: 500;
}

.section2_tile-themes{
    color: $color3;
}

.section2_tile-themList{
    background: $color7;
    border-radius: .5rem;
    // overflow-y: auto;
    font-size: 1rem;
    // height: 12rem;
}

.spacer{
    flex-grow: 1;
}

.section2_tile-buttonShowMore{
    @include buttonType1($color5);
    align-self: flex-end;
    padding: .4rem;
    border-radius: .4rem;
    margin-top: -2.3rem;
    font-size: .9rem;
    margin-right: 2rem;
}

.section2_tile-button{
    background: $color3;
    @include usualSpaces(.5rem,.5rem,.6rem,3rem);
    align-self: flex-end;
    align-self: center;
    transition: .2s;
    border: .2rem solid darken($color3, 10%);
}
.section2_tile-button:hover{
    background: darken($color3, 7%);
    border: .2rem solid darken($color3, 15%);
}
.section2_tile-button:active{
    transform: scale(.98);
}